body {
    margin-bottom: -10%;
}

.title {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    margin-left: 34%;
    /* margin-top: 10%; */
}

input[type="text"], textarea {
    width: 50%;
    height: 25px;
    font-size: 15px;
    padding: 5px;
    outline: none;
}

textarea {
    width: 50.3%;
    resize: vertical;
    height: 100px;
}

.addBtn {
    margin-top: 1%;
    margin-left: 43.2%;
    font-size: 15px;
    padding: 3px;
}

.notes-container {
    margin-top: 5%;
    margin-left: 14%;
}

.notes {
    width: 40%;
    border: 2px solid black;
    height: 210px;
    float: left;
    margin: 5px;
}

.notes h1, .notes p {
    margin: 15px;
}

.btn-style {
    font-size: 16px;
    padding: 3px;
    margin-top: -1%;
    margin-left: 77%;
}   